@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #8F1515;
  --secondary-color: #201221;
  --bg-color-1: #F68834;
  --bg-color-2: #EBE4D2;
  --bg-color-3: #FFFFFF;

  --font-color-1: #FFFFFF;
  --font-color-2: #000000;

  --font-light: 300;
  --font-regular: 500;
  --font-bold: 700;

}

body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  font-family: "Inria Serif", serif;
}


