.popular__dishes-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #ff6600;
}

.popular__dishes-wrapper {
    width: 80%;
    padding: 10px;
}

.popilar__dishes-heading {
    padding: 10px;
}

.popular__dishes-title {
    font-size: 4rem;
    font-weight: var(--font-bold);
    font-style: italic;
}

.popular__dishes-subtitle {
    padding: 5px;
}

.dishes__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem; 
}

.card {
    width: 350px;
    /* border-radius: 0.5rem; */
    background-color: #fffbfb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    Border-bottom: solid 2px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.card__content {
    padding: 1.1rem;
    text-align: left;
}

.card__img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    background-color: rgb(239, 205, 255);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card__rate,
.card__title,
.card__price {
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.card__rate {
    font-size: 1.2rem;
}

.card__ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-size: 2rem;
    padding: 5px;
}

.card__description {
    margin-top: 0.5rem;
    color: var(--font-color-2);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 20px;
}

.card__price {
    font-size: 1.4rem;
}

.card__btn {
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.card__btn:hover {
    background-color: var(--secondary-color);
}
